version: "3.3"
services:
  qix-engine:
    image: qlikcore/engine:12.538.0   # Docker image and version
    ports:
      - 9076:9076 # Port exposing the engine on localhost
    command: -S AcceptEULA=${ACCEPT_EULA}  -S DocumentDirectory=/apps # Commands that is passed to the engine container
    volumes:
      - ../test/apps:/apps # Mounted folder that is used for storing apps
      - ./data:/data # Mounted folder used to get data e.g. csv files into the container
